<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Admin page </h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

        <button th:data-token="|${token}|" onclick="getTests(this.getAttribute('data-token'))"  type="button">Get Tests</button>

        <form th:action="@{/admin/blockuser}"  method="post">
            <input type="text" th:name="id"/>
            <input type="submit" value="Block user"/>
        </form>

        <form th:action="@{/admin/unblockuser}"  method="post">
            <input type="text" th:name="id"/>
            <input type="submit" value="Unblock user"/>
        </form>

        <form th:action="@{/admin/test}" method="get">
            <input type="submit" value=" Create, edit or delete a test"/>
        </form>
        <form th:action="@{/admin/user/editPage}" method="get">
            <input type="submit" value=" Edit a user"/>
        </form>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <ul id="demo">
        </ul>
    </div>



</div>
<script type="text/javascript">
    function getTests(token) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {};
        xhttp.responseType = 'json';
        xhttp.open("GET", "http://localhost:8080/user/test/allwithsubjects", true);
        xhttp.setRequestHeader('Authorization', 'Bearer ' + token);
        xhttp.onload  = function() {
            var jsonResponse = xhttp.response;
            var list = function(jsonResponse) {
                for (var test in jsonResponse) {
                    document.getElementById("demo").innerHTML += '<li>' + " " + jsonResponse[test].enNameTest + " " + jsonResponse[test].uaNameTest + " "
                        + jsonResponse[test].enNameSubject + " " + jsonResponse[test].uaNameSubject + " " + jsonResponse[test].difficulty
                        +  " " + jsonResponse[test].questionAmount + '</li>';
                }

        }
            list(jsonResponse);
            }
        xhttp.send();
    }

</script>

</body>
</html>