<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Answer Create Page</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<form action="#" th:action="@{/admin/answer/create}" method="post" th:object="${answerCreationDto}">

    <label>Question id:</label>
    <input type="text" th:field="*{questionId}" /><br/>

    <label>English answer text:</label>
    <input type="text" th:field="*{enAnswer}" /><br/>

    <label>Ukrainian answer text:</label>
    <input type="text" th:field="*{uaAnswer}" /><br/>

    <label>State the corretness State (True or False):</label>
    <input type="text" th:field="*{correctnessState}" /><br/>

    <button type="submit">Create question</button>
</form>
</body>
</html>