<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Testing System</title>
    <h1  align="center" th:text="#{greeting}"></h1>
</head>
<body>

<div align="center">
    <h1>Student Testing</h1>
    <a href="/user/registrationPage">Click here to register</a>
</div>

<div align="center">
    <a href="/login">Click here to login</a>
</div>


<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="fr" th:text="#{lang.fr}"></option>
</select>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('international?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>