<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div align="left">
    <h1>Login</h1>

    <form action="#" th:action="@{/authenticate}" method="post" th:object="${loginDto}">

        <label>E-mail:</label>
        <input type="email" th:field="*{email}" /><br/>

        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br/>

        <button type="submit">Login</button>
    </form>
</div>

</body>
</html>