<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Edit Page</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<form action="#" th:action="@{/admin/question/edit}" method="post" th:object="${questionEditDto}">

    <label>question id:</label>
    <input type="text" th:field="*{questionId}" /><br/>

    <label>English description:</label>
    <input type="text" th:field="*{enText}" /><br/>

    <label>Ukrainian description:</label>
    <input type="text" th:field="*{uaText}" /><br/>

    <label>ids of answers:</label>
    <input type="text" th:field="*{answerIds}" /><br/>

    <button type="submit">Edit test</button>
</form>
</body>
</html>