<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Page</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<form th:action="@{/admin/test/creationPage}" method="get">
    <input type="submit" value=" Create a test"/>
</form>

<form th:action="@{/admin/test/editPage}" method="get">
    <input type="submit" value=" Edit a test"/>
</form>

<form th:action="@{/admin/test/delete}"  method="post">
    <input type="text" th:name="id"/>
    <input type="submit" value="Delete test"/>
</form>

<form th:action="@{/admin/question/creationPage}" method="get">
    <input type="submit" value=" Create a question for a test"/>
</form>

<form th:action="@{/admin/answer/creationPage}" method="get">
    <input type="submit" value=" Create an answer for a question"/>
</form>

<form th:action="@{/admin/question/editPage}" method="get">
    <input type="submit" value=" Edit a question"/>
</form>

</body>
</html>