<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>User page</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

        <form th:action="@{/user/test/select}"  method="post">
            <input type="text" th:name="id"/>
            <input type="submit" value="select a test to be passed"/>
        </form>

        <form th:action="@{/user/test/preparing}"  method="get">
            <input type="text" th:name="id"/>
            <input type="submit" value="select a test to be prepared"/>
        </form>

        <button type="button" onclick="getTests()">Get Tests</button>
        <ul id="demo">
        </ul>
    </div>

</div>



<script type="text/javascript">
    function getTests() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {};
        xhttp.responseType = 'json';
        xhttp.open("GET", "http://localhost:8080/user/test/allwithsubjects", true);
        xhttp.onload  = function() {
            var jsonResponse = xhttp.response;
            console.log(jsonResponse);
            var list = function(jsonResponse) {
                for (var test in jsonResponse) {
                    document.getElementById("demo").innerHTML += '<li>' + " " + jsonResponse[test].enNameTest + " " + jsonResponse[test].uaNameTest + " "
                        + jsonResponse[test].enNameSubject + " " + jsonResponse[test].uaNameSubject + " " + jsonResponse[test].difficulty
                        +  " " + jsonResponse[test].questionAmount + '</li>';
                }

            }
            list(jsonResponse);
        }
        xhttp.send();
    }

</script>

</body>
</html>